<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">LK airLine</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                {% for c in categories %}
                <li class="nav-item">
                    <a class="nav-link " href="/?category_id={{c.id}}">{{c.name}}</a>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/register">&#128100 Đăng Ký</a>
                </li>
            </ul>
            <form method="get" action="/" class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Search" name="kw">
                <!--name lay ten bien truyen len controler  -->
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>